.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.footer--dark {
  --ifm-footer-background-color: #10112a;
}

[data-doc-id="block-settings"] a {
  margin-bottom: 30px;
}